# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
ENV/


# Uploads
uploads/

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
htmlcov/


# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
benchmark.py
test_redis.py